.container{
  width:100vw;
  height:100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container h1{
  text-align: center;
  background: linear-gradient(45deg, #8942a86d, #0088cca7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Arial, sans-serif;
  font-size: 64px;
  font-weight: bolder;
  letter-spacing: 4px;
  margin: 20px 0;
}

.body{
  width: 90%;
  height: 60%;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #8942a82c, #0088cc22);
  box-shadow:0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.math{
  width: 40%;
  height:60%;
  padding: 16px;
  font-size: 20px;
  border: solid 5px rgba(90, 22, 199, 0.175);
  border-radius: 10px;
  background-color: rgba(162, 49, 196, 0.2);
  resize: vertical;
}
.math:focus {
  outline: none;
  border-color: #0088cc;
  box-shadow: 0 0 5px #0088cc;
}


.image{
  width: 40%;
  height:100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.math-image{
  font-size: 24px;
  min-height: 64px;
  min-width: 128px;
  margin-bottom: 32px;
  max-width: 100%;
  max-height: 50%;
  overflow: auto;
}
.math-image > div{
  width:auto;
  height:auto;
}

.button{
  margin-top: 16px;
  background-image: linear-gradient(to bottom, #8942a86d, #008bba29);
  color: #222;
  font-weight: bolder;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  height: 32px;
  line-height: 32px;
  width: 128px;
  text-align: center;
}

.button:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
  color: #2f88ec;
  letter-spacing: 1px;
}
.button:hover::before {
  content: "You can click to download the image 🤗";
  display: block;
  position: absolute;
  top: 85%;
  left: 0;
  font-size:10px;
  padding: 10px;
  line-height: 12px;
  background-color: #ffffff43;
  border: 1px solid #cccccc;
  border-radius: 4px;
  color: #2f88ec;
}




.selections{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container select {
  background-color: #8942a834;
  border: 2px solid #008bba29;
  border-radius: 5px;
  color: #333333;
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 10px;
  width: 128px;
  text-align: center;
  font-weight: bolder;
  cursor: pointer;
  margin-top: 12px;
  margin-bottom: 12px;
  transition: all .3s ease-in-out;
}
.container select:hover{
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
  color: #2f88ec;
  letter-spacing: 1px;
}


.container select:focus {
  outline: none;
  border-color: #0088cc;
  box-shadow: 0 0 5px #0088cc;
}
.container select option{
  transition: all .3s ease-in-out;
}
.container select option:hover{
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
  color: #2f88ec;
  letter-spacing: 1px;
  cursor:pointer; 
}


.github {
  position: absolute;
  right:10px;
  bottom: 10px;
  transform: scale(0.5);
  transition: all .3s ease-in-out;
}
.github svg path{
  transition:  all .3s ease-in-out;
  
}
.github:hover{
  transform: scale(0.55);
}
.github:hover svg path{
  fill:#2f88ec;
}
.github:before{
  transform:translate(-50%,-50%);
}
.github:hover::before {
  content: "See more examples on my Github🤗";
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  padding: 10px;
  background-color: #ffffff38;
  border: 1px solid #cccccc;
  border-radius: 4px;
  color: #2f88ec;
}

@media (max-width: 767px) {
  .body {
    flex-direction: column;
    height:80%;
  }
  .container h1{
    font-size: 40px;
  }
  .math{
    margin:0px;
    height:50%;
  }
  .image{
    width:90%;
  }
  .math-image{
    font-size:16px;
    width: 100%;
    margin:0px;
  }
  .image{
    padding-bottom: 32px;
    height:50%;
  }
  .github {
    right: 0px;
    bottom: 0px;
    transform: scale(0.4) translate(60%,60%);
  }
  .github:hover{
    transform: scale(0.45) translate(60%,60%);
  }
  .github:hover::before{
    top:0%; 
    font-size: 14px;
  }
}
